:root {
    --icon-width: 30px;
    --icon-height: 30px;

    --bg-color: white;
    --text-color: black;
    --icon-color: orange;
}

[data-theme="dark"] {
    --bg-color: #1F1B24;
    --text-color: white;
    --icon-color: orange;
}

[data-theme="dark"] header {
    background-color: rgba(8, 23, 63, 0.95);
    color: #fff;
}

[data-theme="dark"] #home {
    background: linear-gradient(135deg, #08173F, #1A3B7A);
    color: #fff;
}

[data-theme="dark"] .front-photo img {
    filter: brightness(50%);
}

[data-theme="dark"] #about {
    background: linear-gradient(120deg, #1A9DC9, #145B91);
    color: #fff;
}

[data-theme="dark"] #skills {
    background: linear-gradient(135deg, #B5801A, #9C290F);
    color: #fff;
}

[data-theme="dark"] #projects {
    background: linear-gradient(135deg, #145B91, #1A9DC9);
    color: #fff;
}

[data-theme="dark"] .project img {
    filter: brightness(50%);
}

[data-theme="dark"] #contacts {
    background: linear-gradient(135deg, #08173F, #9C290F);
    color: #fff;
}

[data-theme="dark"] footer {
    background-color: rgba(8, 23, 63, 0.95);
    color: #fff;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: Arial, Helvetica, sans-serif;
}

.symbol {
    display: flex;
    flex-direction: row-reverse;
    padding: 25px 25px 0 0;
    text-align: end;
    height: 10vh;
    width: 10vw;
}

.color {
    color: inherit;
}

.sun,
.mon {
    display: inline-block;
    width: var(--icon-width);
    height: var(--icon-height);
    background-color: var(--icon-color);

    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}

.sun {
  display: inline-block;
  width: var(--icon-width);
  height: var(--icon-height);
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M12 5q-.425 0-.712-.288T11 4V2q0-.425.288-.712T12 1t.713.288T13 2v2q0 .425-.288.713T12 5m4.95 2.05q-.275-.275-.275-.687t.275-.713l1.4-1.425q.3-.3.712-.3t.713.3q.275.275.275.7t-.275.7L18.35 7.05q-.275.275-.7.275t-.7-.275M20 13q-.425 0-.713-.288T19 12t.288-.712T20 11h2q.425 0 .713.288T23 12t-.288.713T22 13zm-8 10q-.425 0-.712-.288T11 22v-2q0-.425.288-.712T12 19t.713.288T13 20v2q0 .425-.288.713T12 23M5.65 7.05l-1.425-1.4q-.3-.3-.3-.725t.3-.7q.275-.275.7-.275t.7.275L7.05 5.65q.275.275.275.7t-.275.7q-.3.275-.7.275t-.7-.275m12.7 12.725l-1.4-1.425q-.275-.3-.275-.712t.275-.688t.688-.275t.712.275l1.425 1.4q.3.275.288.7t-.288.725q-.3.3-.725.3t-.7-.3M2 13q-.425 0-.712-.288T1 12t.288-.712T2 11h2q.425 0 .713.288T5 12t-.288.713T4 13zm2.225 6.775q-.275-.275-.275-.7t.275-.7L5.65 16.95q.275-.275.687-.275t.713.275q.3.3.3.713t-.3.712l-1.4 1.4q-.3.3-.725.3t-.7-.3M12 18q-2.5 0-4.25-1.75T6 12t1.75-4.25T12 6t4.25 1.75T18 12t-1.75 4.25T12 18m0-2q1.65 0 2.825-1.175T16 12t-1.175-2.825T12 8T9.175 9.175T8 12t1.175 2.825T12 16m0-4'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.moon {
  display: inline-block;
  width: var(--icon-width);
  height: var(--icon-height);
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M12.075 22q-2.1 0-3.937-.8t-3.2-2.162t-2.163-3.2t-.8-3.938q0-3.1 1.713-5.625t4.587-3.7q.35-.125.725-.088t.625.238q.2.175.313.488t.112.812q.05 1.975.8 3.763T13 10.975t3.2 2.15t3.775.8q.525 0 .8.088t.45.287q.2.25.263.65t-.063.725q-1.15 2.875-3.7 4.6T12.075 22m0-2q2.2 0 4.075-1.1t2.95-3.025q-2.15-.2-4.075-1.087t-3.45-2.413t-2.425-3.45T8.075 4.85Q6.15 5.925 5.063 7.813T3.975 11.9q0 3.375 2.363 5.738T12.075 20M14.3 7.3l-1.6-1.6q-.3-.3-.3-.7t.3-.7l1.6-1.6q.3-.3.7-.3t.7.3l1.6 1.6q.3.3.3.7t-.3.7l-1.6 1.6q-.3.3-.7.3t-.7-.3m5 3l-.6-.6q-.3-.3-.3-.7t.3-.7l.6-.6q.3-.3.7-.3t.7.3l.6.6q.3.3.3.7t-.3.7l-.6.6q-.3.3-.7.3t-.7-.3'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}


* {
    margin: 0;
    padding: 0;
}

section {
    transition: background 0.4s ease;
}


header {
    display: flex;
    flex-direction: row;
    background-color: rgba(13, 37, 89, 0.9);
    color: #fff;
    height: 10vh;
    width: 100vw;
}

header a {
    transition: color 1s ease-in-out, transform 0.6s ease;
    text-decoration: none;
    color: #62D9F3;
}

header a:hover {
    transform: scale(1.05);
    color: #F3541B;
}

.navi {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 10vh;
    width: 90vw;
    gap: 50px;
}

.navi a {
    text-decoration: none;
}

#home {
    display: flex;
    background: linear-gradient(135deg, #0D2559, #2367BE);
    color: #fff;
    height: 90vh;
    width: 100vw;
}

.home-text {
    display: flex;
    flex-direction: row;
    height: 90vh;
    width: 100vw;
}

.introduction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 2rem;
    gap: 50px;
    height: 90vh;
    width: 50vw;
}

h1 {
    font-size: 4rem;
    font-weight: bold;
}

.front-photo {
    display: block;
    height: 90vh;
    width: 50vw;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
}

.front-photo img {
    box-shadow: 0 6px 15px rgba(0,0,0,0.35);
    transform: translate(-50%, -50%);
    transition: opacity 0.35s ease;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    object-fit: cover;
    height: 400px;
    width: 400px;
    left: 50%;
    top: 50%;
}

.img-normal {
  opacity: 1;
}

.img-hover {
  opacity: 0;
}

.front-photo:hover .img-hover {
  opacity: 1;
}

.front-photo:hover .img-normal {
  opacity: 0;
}

.its {
    font-weight: normal;
}

#about {
    display: flex;
    flex-direction: column;
    background: linear-gradient(120deg, #62D9F3, #2367BE);
    color: #111;
    height: 100vh;
    width: 100vw;
}

.about-me {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    height: 20vh;
    width: 100vw;
}

.edu-tec {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 60vh;
    width: 100vw;
}

.education {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 20px;
    height: 60vh;
    width: 40vw;
}

.technical {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 60vh;
    width: 40vw;
}

.hobbies {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    height: 20vh;
    width: 100vw;
}

#skills {
    display: flex;
    flex-direction: column;
    background: linear-gradient(135deg, #F2AA27, #F3541B);
    color: #111;
    height: 100vh;
    width: 100vw;
}

.skill-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    width: 100vw;
}

.my-skills {
    display: flex;
    flex-direction: row;
    height: 80vh;
    width: 100vw;
}

.prog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 40vh;
    width: 50vw;
}

.soft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 40vh;
    width: 50vw;
}

.tools {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 40vh;
    width: 50vw;
}

.tech {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 40vh;
    width: 50vw;
}

#projects {
    display: flex;
    flex-direction: column;
    background: linear-gradient(135deg, #2367BE, #62D9F3);
    color: #fff;
    height: 100vh;
    width: 100vw;
}

.my-project {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 20vh;
    width: 100vw;
}

.project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 80vh;
    width: 100vw;
}

.project p {
    display: flex;
    height: auto;
    width: 50vw;
    text-align: justify;
}

.project img {
    width: 500px;
    height: 200px;
    object-fit: cover;
    border-radius: 20px;
}

#contacts {
    display: flex;
    flex-direction: column;
    background: linear-gradient(135deg, #0D2559, #F3541B);
    color: #fff;
    height: 80vh;
    width: 100vw;
}

.contact-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 20vh;
    width: 100vw;
}

.contact-layout {
    display: flex;
    flex-direction: row;
    height: 60vh;
    width: 100vw;
}

.social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 60vh;
    width: 50vw;   
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: 50vw;
}

.social a {
    text-decoration: none;
    color: blue;
    font-size: 2rem;
    font-weight: bold;
}

.message-box {
    position: relative;
    width: 300px;
    margin-bottom: 20px;
}

.message-box input,
.message-box textarea {
    width: 20vw;
    padding: 14px 10px;
    font-size: 16px;
    border: 1px solid #999;
    border-radius: 5px;
    outline: none;
    resize: none;
}

.message-box label{
    position: absolute;
    top: 14px;
    left: 10px;
    color: #777;
    font-size: 14px;
    pointer-events: none;
    transition: 0.3s ease;
    background: white;
    padding: 0 4px;
}

.message-box input:focus + label,
.message-box input:valid + label,
.message-box textarea:focus + label,
.message-box textarea:valid + label {
    top: -8px;
    font-size: 12px;
    color: #333;
}

button {
    height: 50px;
    width: 100px;
}

footer {
    display: flex;
    flex-direction: row;
    background: linear-gradient(90deg, #0D2559, #2367BE);
    background-color: rgba(13, 37, 89, 0.9);
    color: #fff;
    justify-content: center;
    align-items: center;
    height: 20vh;
    width: 100vw;
}