* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 100vw;
}

nav {
    display: flex;
    gap: 50px;
    padding: 10px;   
}

nav a {
    text-decoration: none;
}

#home {
    display: flex;
    height: 90vh;
    width: 100vw;
}

.home-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    padding-left: 50px;
}

h1 {
    font-size: 4rem;
    font-weight: bold;
}

.its {
    font-weight: normal;
}

#about {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.about-me {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    height: 20vh;
    width: 100vw;
}

.edu-tec {
    display: flex;
    flex-direction: row;
    height: 60vh;
    width: 100vw;
}

.education {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 20px;
    height: 60vh;
    width: 50vw;
}

.technical {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 60vh;
    width: 50vw;
}

.hobbies {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    height: 20vh;
    width: 100vw;
}

#skills {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.skill-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    width: 100vw;
}

.my-skills {
    display: flex;
    flex-direction: row;
    height: 80vh;
    width: 100vw;
}

.prog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 40vh;
    width: 50vw;
}

.soft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 40vh;
    width: 50vw;
}

.tools {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 40vh;
    width: 50vw;
}

.tech {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 40vh;
    width: 50vw;
}

#projects {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.my-project {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 20vh;
    width: 100vw;
}

#contacts {
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 100vw;
}

.contact-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 20vh;
    width: 100vw;
}

.contact-layout {
    display: flex;
    flex-direction: row;
    height: 60vh;
    width: 100vw;
}

.social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 60vh;
    width: 50vw;   
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: 50vw;
}

.message-box {
    position: relative;
    width: 300px;
    margin-bottom: 20px;
}

.message-box input,
.message-box textarea {
    width: 20vw;
    padding: 14px 10px;
    font-size: 16px;
    border: 1px solid #999;
    border-radius: 5px;
    outline: none;
    resize: none;
}

.message-box label{
    position: absolute;
    top: 14px;
    left: 10px;
    color: #777;
    font-size: 14px;
    pointer-events: none;
    transition: 0.3s ease;
    background: white;
    padding: 0 4px;
}

.message-box input:focus + label,
.message-box input:valid + label,
.message-box textarea:focus + label,
.message-box textarea:valid + label {
    top: -8px;
    font-size: 12px;
    color: #333;
}

button {
    height: 50px;
    width: 100px;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 20vh;
    width: 100vw;
}