* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 100vw;
}

nav {
    display: flex;
    gap: 50px;
    padding: 10px;   
}

nav a {
    text-decoration: none;
}

#home {
    display: flex;
    height: 90vh;
    width: 100vw;
}

.home-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    padding-left: 50px;
}

h1 {
    font-size: 4rem;
    font-weight: bold;
}

.greet, .name, .qoute {
    
}

.its {
    font-weight: normal;
}